<StackLayout>
        <label class="titleInfo" text="Student Info" textWrap="true"></label>
        <StackLayout class="hr-light m-10"></StackLayout>


        <Label>
                <FormattedString>
                        <Span text="Name: " color="#006600" ></Span>
                        <Span [text]="name" class="nombre-representate"></Span>
                </FormattedString>
        </Label>
        <Label>
                <FormattedString>
                        <Span text="Email: " color="#006600" ></Span>
                        <Span [text]="email" class="nombre-representate"></Span>
                </FormattedString>
        </Label>
        <Label>
                <FormattedString>
                        <Span text="Fecha de Nacimiento: " color="#006600" ></Span>
                        <Span [text]="birthdate" class="nombre-representate"></Span>
                </FormattedString>
        </Label>
        <label class="titleInfo" text="Parent Info" textWrap="true"></label>
        <StackLayout class="hr-light m-10"></StackLayout>
        <Label>
                <FormattedString>
                        <Span text="Name: " color="#006600" ></Span>
                        <Span [text]="name" class="nombre-representate"></Span>
                </FormattedString>
        </Label>
        <Label>
                <FormattedString>
                        <Span text="Email: " color="#006600" ></Span>
                        <Span [text]="email" class="nombre-representate"></Span>
                </FormattedString>
        </Label>
        <Label>
                <FormattedString>
                        <Span text="Fecha de Nacimiento: " color="#006600" ></Span>
                        <Span [text]="birthdate" class="nombre-representate"></Span>
                </FormattedString>
        </Label>
</StackLayout>