<ActionBar title="" class="action-bar">
    <StackLayout orientation="horizontal" (tap)="irPerfil()">
    <Image [src]="icoAvatar" class="foto-perfil" stretch="fill"></Image>
    <StackLayout class="m-l-15" width="80%">



            <Label [text]="nomb" class="nombre-representate"></Label>
            <Label>
                <FormattedString>
                    <Span text="Experience: " color="#006600" ></Span>
                    <Span [text]="experience" class="nombre-representate"></Span>
                </FormattedString>
            </Label>
            <Label>
                <FormattedString>
                    <Span text="Health: " color="#006600" ></Span>
                    <Span [text]="health" class="nombre-representate"></Span>
                </FormattedString>
            </Label>
    </StackLayout>
    </StackLayout>
</ActionBar>

    <StackLayout orientation="horizontal" backgroundColor="#F59100" height="45" color="white">


            <Image class="icotabs" width="15%" (tap)="irInfo()" src="~/images/info.png"></Image>
            <Label class="infotabs" width="35%" (tap)="irInfo()" text="Information" textWrap="true" textAlignment="center"></Label>
            <Image class="icotabs" width="15%" (tap)="irAchievements()" src="~/images/achievements.png"></Image>            
            <Label class="infotabs" width="35%" (tap)="irAchievements()" text="Achievements" textWrap="true" textAlignment="center"></Label>            
    </StackLayout>
    <StackLayout orientation="vertical">
        <router-outlet></router-outlet>
    </StackLayout>
    <Button row="4" text="Cerrar sesión" (tap)="logout()" class="btn btn-primary raleway" style="font-size: 18;"></Button>
